body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #a6d4c0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 12vh;
}


canvas {
    /* width: 800px;
    height: 450px; */
    display: block;
    background: url(./images/bg.png);
    border: 5px solid black;
    border-radius: 5%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div #top-bar {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}